---
import Layout from "../components/Layout.astro";
import Heading from "../components/Heading.astro";
import Prose from "../components/Prose.astro";
import Finis from "../components/Finis.astro";

import { title as indexTitle } from "./index.astro";
import { Content } from "../content/about.md";

const title = "About - Ariel Messing";
const description = "About Ariel Messing: Developer by trade, antiquarian by inclination; appreciates thoughtful design, well-made code, and slow living.";
---

<Layout title={title} description={description}>
  <script slot="head" type="application/ld+json" set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "AboutPage",
    "name": title,
    "description": description,
    "url": new URL("/about", Astro.site).href,
    "isPartOf": {
      "@type": "WebSite",
      "name": indexTitle,
      "url": Astro.site?.href,
    },
  })} />
  
  <section class="about">
    <header class="about-header">
      <Heading as="h1">About</Heading>
    </header>
    <Prose>
      <Content />
    </Prose>
    <Finis />
  </section>
</Layout>

<style>
  .about {
    max-width: var(--width-content);
  }

  .about-header {
    margin-bottom: var(--space-2xl);
  }
</style>