---
import Layout from "../components/Layout.astro";
import Heading from "../components/Heading.astro";
import Prose from "../components/Prose.astro";
import Finis from "../components/Finis.astro";

import { Content, frontmatter } from '../content/about.md';
---

<Layout title="About - Ariel Messing">
  <script slot="head" type="application/ld+json" set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "AboutPage",
    "name": "About - Ariel Messing",
    "description": "About Ariel Messing.",
    "url": new URL("/about", Astro.site).href,
    "isPartOf": {
      "@type": "WebSite",
      "name": "Ariel Messing",
      "url": Astro.site?.href,
    },
  })} />
  
  <section class="about">
    <header class="about-header">
      <Heading as="h1">About</Heading>
    </header>
    <Prose>
      <Content />
    </Prose>
    <Finis />
  </section>
</Layout>

<style>
  .about {
    max-width: var(--width-content);
  }

  .about-header {
    margin-bottom: var(--space-2xl);
  }
</style>