---
import Layout from "../components/Layout.astro";
import Heading from "../components/Heading.astro";
import Prose from "../components/Prose.astro";
---

<Layout title="Correspondence — Ariel Messing" description="">
  <section class="about">
    <Heading as="h2">@</Heading>
    <Prose>
      <p>
        I’m always happy to discuss system architecture, functional programming, or the best local flour mills.
      </p>
      <p>
        ariel.messing@domain.com
      </p>
      <p>
        I’m usually slow to respond, but I read everything.
      </p>
    </Prose>
  </section>
</Layout>

<style>
  .about {
    max-width: var(--width-content);
  }
</style>
