---
import { getCollection } from "astro:content";

import Layout from "../components/Layout.astro";
import Heading from "../components/Heading.astro";
import Tags from "../components/Tags.astro";
import NoteList from "../components/NoteList.astro";
import Finis from "../components/Finis.astro";

const notes = (await getCollection("notes"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const tagCounts = notes.flatMap(note => note.data.tags)
  .reduce((acc, tag) => {
    acc[tag] = (acc[tag] || 0) + 1;
    return acc;
  }, {} as Record<string, number>);

const tags = Object.keys(tagCounts).sort((a, b) => a.localeCompare(b));

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Blog",
  "name": "Notes - Ariel Messing",
  "description": "A collection of thoughts about things I am learning, creating, and experiencing.",
  "numberOfItems": notes.length,
  "itemListElement": notes.map((note, index) => ({
    "@type": "ListItem",
    "position": index + 1,
    "item": {
      "@type": "BlogPosting",
      "headline": note.data.title,
      "url": new URL(`/notes/${note.id}`, Astro.site).href,
      "datePublished": note.data.date.toISOString()
    }
  })),
  "url": new URL("/notes", Astro.site).href,
  "isPartOf": {
    "@type": "WebSite",
    "name": "Ariel Messing",
    "url": Astro.site?.href,
  }
};
---

<Layout title="Notes - Ariel Messing">
  <script slot="head" type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
  
  <section class="notes">
    <header class="notes-header">
      <Heading as="h1">Notes</Heading>
      {tags && <Tags tags={tags} />}
    </header>
    
    <NoteList items={notes} />

    <footer>
      <Finis />
    </footer>
  </section>
</Layout>

<style>
  .notes {
    max-width: var(--width-content);
  }

  .notes-header {
    margin-bottom: var(--space-2xl);
  }
</style>