---
import Heading from "./Heading.astro";
import Prose from "./Prose.astro";
import Tags from "./Tags.astro";
import Finis from "./Finis.astro";

interface Props {
  title: string;
  date: Date;
  description: string;
  revised?: Date;
  tags?: string[];
}

const { title, date, description, revised, tags } = Astro.props;

const formattedDate = date.toLocaleDateString("en-GB", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<article class="article">
  <header class="article-header">
    <Heading as="h1">{title}</Heading>
    <p class="article-meta">
      <time datetime={date.toISOString()} data-is-revised={!!revised}>{formattedDate}</time>
    </p>
  </header>

  <Prose>
    <slot />
  </Prose>

  <footer>
    {tags && <Tags tags={tags} />}
    <Finis />
  </footer>
</article>

<style>
  @counter-style classic-symbols {
    system: cyclic;
    symbols: '*' '†' '‡' '§' '¶' '‖';
  }
  
  article {
    counter-reset: footnote-counter;
  }

  .article {
    max-width: var(--width-content);
  }

  .article-header {
    margin-bottom: var(--space-xl);
  }

  .article-meta {
    font-family: var(--font-heading);
    font-size: 0.8125rem;
    color: var(--color-text-tertiary);
    margin-top: var(--space-sm);
  }

  .article-meta time[data-is-revised="true"]::after {
    content: "(revised)";
    margin-left: 2px;
  }

  .article :global([data-footnote-ref]), 
  .article :global(.footnote-backref) {
    font-size: 0; 
    text-decoration: none;
  }

  .article :global([data-footnote-ref]::before) {
    counter-increment: footnote-counter;
    content: counter(footnote-counter, classic-symbols);
    font-size: 1rem;
    /* font-family: serif; */
    color: var(--color-text-tertiary);
    transition: color 0.3s ease;
  }

  .article :global([data-footnote-ref]:hover::before) {
    color: var(--color-text-accent);
  }

  .article :global(section[data-footnotes] p) {
    font-size: 0.9375rem;
  }

  .article :global(section[data-footnotes] ol) {
    list-style: none;
    counter-reset: footnote-list-counter;
    padding-left: var(--space-sm);
  }

  .article :global(section[data-footnotes] li) {
    counter-increment: footnote-list-counter;
    position: relative;
    padding-left: var(--space-md);
  }

  .article :global(section[data-footnotes] li::before) {
    content: counter(footnote-list-counter, classic-symbols);
    position: absolute;
    left: 0;
  }

  .article :global(.data-footnote-backref) {
    display: inline-block;
    text-decoration: none;
    font-size: 0.75rem;
    vertical-align: bottom;
    color: var(--color-text-tertiary);
    transition: color 0.3s ease;
  }

  .article :global(.data-footnote-backref:hover) {
    color: var(--color-text-accent);
  }

</style>
